node_modules
deps
test/deps
.DS_Store

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
src/multi-tap-main
test/add_test
test/mult_test


# Autconf generated/intermediate/required files
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autoscan.log
config.log
config.status
configure
config.*
configure
.deps/

AUTHORS
COPYING
ChangeLog
INSTALL
NEWS
README
compile
depcomp
install-sh
missing
stamp-*
*.lo
*.la
.libs
ar-lib
libtool
ltmain.sh
m4
test-driver
*.log
*.trs
